        <footer>
            <p><strong>Links</strong></p>
            <ul class="u-list-inline">
                {{#siteData.links}}
                <li><a href="{{ url }}">{{ name }}</a></li>
                {{/siteData.links}}
            </ul>
            <p>&copy; Copyright 2017 - {{ siteData.author }}. Built using <a href="https://github.com/ehsanh06/statgen">Statgen</a>.</p>
        </footer>
    </body>
</html>