        <footer>
            <ul class="u-list-inline">
                {{#siteData.links}}
                <li><a href="{{ url }}">{{ name }}</a></li>
                {{/siteData.links}}
            </ul>
            <p class="small">&copy; {{ siteData.name }} 2017.</p>
        </footer>
    </body>
</html>