        <h2>Links</h2>
        <nav>
            <ul>
                {{#siteData.config.links}}
                <li><a href="{{ url }}">{{ name }}</a></li>
                {{/siteData.config.links}}
            </ul>
        </nav>
        <footer>
            <p>Copyright 2017 - {{ siteData.config.author }}. Built using <a href="#">Statgen</a></p>
        </footer>
    <!--{{ siteData.config.googleTrackingCode }}', 'auto');-->
    </body>
</html>