<nav class="nav">
    <ul class="u-list-inline">
        {{#siteData.navigation}}
            <li><a {{#if active}}class="{{ ../siteData.currentMenuClass }}" {{/if}} href="{{ url }}">{{ title }}</a></li>
        {{/siteData.navigation}}
    </ul>
</nav>
