<header>
    <div class="container"><!-- logo goes here--></div>
    <nav>
        <ul class="nav nav-tabs">
            {{#navigation}}
                <li>
                    <a {{#if active}}  class="{{ ../../../config.currentMenuClass }}" {{/if}} href="{{ url }}">
                        {{ title }}
                    </a>
                </li>
            {{/navigation}}
        </ul>
    </nav>
</header>